<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Unit ID</th>
                    <th>Sector</th>
                    <th>College Name</th>
					<th>State</th>
                    <th>Net Price 2013-2014</th>
					<th>Grant Aid</th>
					<th>Tuition and Fees</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].unitID%></td>
                    <td><%=data[i].sector%></td>
					<td><%=data[i].institution_name%></td>
					<td><%=data[i].state%></td>
                    <td><%=data[i].Net_Price%></td>
                    <td><%=data[i].grant_aid%></td>
					<td><%=data[i].tuition%></td>
                    <td>
                        <a class="a-inside edit" href="../customers/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../customers/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
